table.table-hover > thead {
    background-color: #004B93;
    color: #ffffff;
}

table.table-hover td, th {
    border-left: 1px solid white;
    font-size: 12px;
}

/*  auth  */
#auth_body {
    background-image: url('../images/layouts/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

.auth-logo {
    margin: 10vh auto 5vh;
    text-align: center;
}

.auth-card {
    background-color: #ffffff61;
    border-radius: 12px;
    min-height: 70vh;

}

/* common */
.app-input {
    border-radius: 10px;
    background: transparent;
    border: 1px solid #004B93;
    padding: 15px 12px;
    color: black;
}

.app-input:focus {
    background: #ffffff61;
    border: 1px solid #0274df;
}

.app-input-small {
    border-radius: 10px;
    background: transparent;
    border: 1px solid #004B93;
    color: black;
}

.text-right {
    text-align: right;
}

/* user img */
.user-img {
    height: 50vh;
    object-fit: contain;
}

.logo-text {
    display: inline;
}

/* auth logo image */
.auth-logo-lg img {
    height: 69px;
    transform: rotate(-45deg);
}

/* auth checkbox */
.auth-form-check-input {
    --ct-form-check-bg: var(--ct-secondary-bg);
    width: 1.112em;
    height: 1.112em;
    margin-top: 0.194em;
    vertical-align: top;
    background-color: transparent;
    background-image: var(--ct-form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 2px solid var(--ct-border-color-translucent);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}